@model Asset_Management.Models.Provider

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Provider</legend>

    <div class="display-label">ProviderName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProviderName)
    </div>

    <div class="display-label">Adress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Manager</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manager)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
